---
export interface Props{
  color?: string,
  size?:string,
  weight?:string,
  marginBottom?:string,
  wrapped?: boolean,
  subHeading?:boolean,
  textTransform?:string,
  Element?:string
}
const {color='var(--color-grey-200)', size='2.4rem', weight='500', marginBottom='0px', wrapped=false, subHeading=false, Element='h3'} = Astro.props as Props;
---
{wrapped?
  <span>
    <Element class="heading" style=`color: ${color}; font-size: ${size}; font-weight: ${weight}; margin-bottom: ${marginBottom};`>
      <slot/>
    </Element>
    {subHeading && <p class="sub-heading"><slot name="sub-heading"/></p>}
  </span>
:
<>
  <Element
   class="heading" style=`color: ${color}; font-size: ${size}; font-weight: ${weight}; margin-bottom: ${marginBottom};`>
    <slot/>
  </Element>
  {subHeading && <p class="sub-heading"><slot name="sub-heading"/></p>} 
</>    
}

<style>
.heading{
}
.sub-heading{
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--color-grey-100);
}
</style>